{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.symbol }} </td>
                        <td>{{ stock.name }} </td>
                        <td>{{ stock.shares }} </td>
                        <td>{{ stock.price | usd}} </td>
                        <td>{{ stock.total | usd}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Cash: {{ cash | usd}} </h3>
        <h3>Total: {{ total_value | usd}} </h3>
    </div>
{% endblock %}
