{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock symbol" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ name }} </td>
                    <td>{{ price }} </td>
                    <td>{{ symbol }} </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
