{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).*">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmate the password" type="password" required pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).*">
        </div>
        <div>
            <h8>Password need at least one number, uppercase and lowercase</h8>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
{% endblock %}
